body{
    background-size: cover;
    background-color: black;
    text-align: center;
    font-family: 'Roboto', serif;
}
footer a{
    color: #3232c8;
}
footer a:visited {
    color: #aaaaaa;
}
body.artadopage{
    background-color: rgba(168, 168, 168);
    background-image: none;
}
div.main{
    background-color: rgb(168, 168, 168);
    font-family: 'Roboto', serif;
    font-size: 22px;
    text-align: center;
    color: black; !important;
    padding-top: 3%;
    padding-bottom: 3%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
footer{
    background-color: rgb(60, 60, 60);
    color: white;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}
h1, h2, h3{
    font-family: 'Aldrich',system-ui;
}
table{
    margin-left: auto;
    margin-right: auto;
}
.link{
    height: 50px;
    width: 50px;
}
div.container {
    text-align: center;
}
ul.myUL {
    display: inline-block;
    text-align: left;
}
div.reviews{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
div.artadocontainer{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
div.artadoPocket{
    text-align: left;
    padding-left: 5%;
}
div.pageLayout{
    width: 100%;
    overflow: auto;
}
div.pageLayout div.leftContent{
    width: 65%;
    float: left;
}
div.pageLayout div.rightContent{
    width: 35%;
    float: left;
    text-align: right;
    color: white;
    background-color: #3c3c3c;
}
div.pageLayout div.rightContent p{
    padding-right: 5%;
}
#lastfm{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 5%;
    padding-bottom: 5%;
}
#lastfm a{
    line-height: 0.5;
    padding-right: 5%;
    color: #aaaaaa;
}
#lastfm p{
    line-height: 0.5;
    padding-right: 5%;
}