body{
    min-height: 100vh;
    background-color: black;
    background-image: url("/content/images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
div.main{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    max-width: 1920px;
    margin-top: 1%;
    overflow: auto;
}
footer{
    width: 70%;
    max-width: 1920px;
}
div.main h1{
    font-family: 'Tektur',sans-serif;
}
div.main1{
    width: 65%;
    float: left;
}
div.main2 a, div.main2 p{
    margin-right: 5%;
    color: white;
}
div.main2{
    width: 30%;
    float: left;
    text-align: right;
}
div.seperator{
    width: 5%;
    float: left;
}
#lastfm, #letterboxd {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 5%;
    padding-bottom: 5%;
}
#stickyNotes p{
    color: black;
    line-height: 1.1;
}
#about a{
    margin-top: 10px;
}
#mail{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 2%;
}
#mail a{
    margin: 10px;
}
#giscus{
    padding: 50px;
}
#links{
    text-align: center;
}
#links a{
    padding: 15px;
}
#youtube{
    height: 315px;
    border: white 10px solid;
}
#gif{
    padding: 15px;
}
@media only screen and (max-width: 900px){
    div.main{
        width: 100%;
    }
    div.main1, div.main2, div.seperator{
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    div.main1, div.seperator{
        width: 95%;
    }
    div.main2{
        width: 80%;
        max-width: 350px;
    }
    footer{
        width: 100%;
    }
    #mail{
        width: 95%;
    }
    #giscus{
        padding: 20px;
    }
    #youtube{
        max-height: 200px;
        border: white 2px solid;
    }
    #gif{
        padding: 5px;
    }
    a, p{
        font-size: 10px;
    }
}